* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.bottom-margin {
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

@font-face {
  font-family: "UnderWorld";
  src: url("UnderWorld.eot");
  src: url("UnderWorld.eot?#iefix") format("embedded-opentype"), url("UnderWorld.woff2") format("woff2") url("UnderWorld.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.balance {
  font-size: 1.5em;
  font-weight: bold;
}

.small {
  font-size: small;
}

#expeditions-div {
  margin-top: 1em;
}

#happiness-div {
  width: 275px;
}

#loans-engine, #taxes-engine {
  margin-bottom: 1em;
  padding: 4px;
  border: 1px solid hsl(51, 100%, 50%);
}

#loans-list {
  width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid hsl(51, 100%, 72%);
  border-top: 1px solid hsl(51, 100%, 72%);
}

th {
  text-align: left;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  text-align: right;
}
footer a:link {
  color: hsl(51, 100%, 50%);
  text-decoration: none;
}
footer a:visited {
  color: hsl(51, 100%, 44%);
  text-decoration: none;
}
footer a:hover {
  color: hsl(51, 100%, 72%);
  text-decoration: underline;
}
footer a:active {
  color: hsl(51, 100%, 72%);
  text-decoration: underline;
}

.form2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: middle;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

header, h1, h2, h3, h4 {
  margin: 0;
  color: hsl(51, 100%, 50%);
  font-family: "UnderWorld", "Brush Script MT";
}

h2, h3, h4 {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.version {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
}

.announcement {
  margin-top: 1rem;
  padding: 6px;
  border: 2px solid hsl(51, 100%, 50%);
}
.announcement p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#announcements-list {
  margin-top: 1rem;
  color: hsl(51, 100%, 50%);
}

#congrats-text {
  font-weight: bold;
}

button {
  margin-bottom: 0.7em;
  padding: 4px;
  border: 2px solid hsl(51, 100%, 72%);
  background-color: hsl(51, 100%, 50%);
  color: hsl(0, 0%, 0%);
  font-family: "Garamond";
}
button:disabled {
  opacity: 0.8;
}

.research-button {
  margin-bottom: 6px;
  display: block;
  width: 275px;
  height: 60px;
  background-color: hsl(51, 100%, 50%);
}

#launch-btn {
  margin-bottom: 0;
}

.btn2 {
  margin: 0;
  padding: 2px;
  vertical-align: 2px;
}

#loan-btn {
  height: 22px;
}

select {
  width: 225px;
  margin-bottom: 6px;
  padding: 4px;
  border: 2px solid hsl(51, 100%, 72%);
  border-radius: 2px;
  background-color: hsl(51, 100%, 50%);
  font-family: "Garamond", serif;
}

.small-picker {
  width: auto;
  height: 22px;
  margin-bottom: 6px;
  padding: 2px;
  border-radius: 2px;
}

#expedition-progress {
  width: 100%;
  margin-top: 1em;
  background-color: hsl(0, 0%, 50%);
}

#expedition-progress-bar {
  width: 1%;
  height: 20px;
  background-color: hsl(51, 100%, 50%);
}

#happiness-back {
  width: 100%;
  border-radius: 4px;
  background-color: hsl(0, 0%, 50%);
}

#happiness-level-text {
  margin-left: 49%;
}

#happiness-bar {
  width: 50%;
  height: 20px;
  border-radius: 4px;
  background-color: hsl(51, 100%, 50%);
}

body {
  background-color: hsl(244, 88%, 17%);
  color: hsl(0, 0%, 100%);
  font-family: "Garamond", serif;
}

main {
  display: grid;
  grid-template-columns: 300px 300px 350px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 950px) {
  main {
    grid-template-columns: 300px 300px;
  }
}
@media only screen and (max-width: 599px) {
  main {
    grid-template-columns: 300px;
  }
}/*# sourceMappingURL=main.css.map */