/* hex code for 
ultramarine blue: 120A8F 
darker federal blue: 0a0551
gold FFD700
*/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'UnderWorld';
  src: url('UnderWorld.eot');
  src: url('UnderWorld.eot?#iefix') format('embedded-opentype'),
      url('UnderWorld.woff2') format('woff2'),
      url('UnderWorld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #0a0551;
  color: white;
  font-family: 'Garamond';
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

header, h1, h2, h3, h4 {
  color: #FFD700;
  font-family: 'UnderWorld', 'Brush Script MT';
  margin: 0;
}

h2, h3, h4 {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.version {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: 300px 300px 350px;
}

.balance {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

button {
  padding: 4px;
  background-color: #FFD700;
  color: black;
  font-family: 'Garamond';
  border-color: #FFEA70;
  border-radius: 2px;
  margin-bottom: 0.7em;
}

button:disabled {
  opacity: 0.8;
}

.small {
  font-size: small;
}

#expeditions-div {
  margin-top: 1em;
}

.research-button {
  background-color: #FFD700;
  display: block;
  height: 60px;
  width: 275px;
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

select {
  padding: 4px;
  background-color: #FFD700;
  font-family: 'Garamond', serif;
  border-color: #FFEA70;
  border-radius: 2px;
  width: 225px;
  margin-bottom: 6px;
}

#launch-btn {
  margin-bottom: 0;
}

#expedition-progress {
  width: 100%;
  background-color: gray;
  margin-top: 1em;
}

#expedition-progress-bar {
  width: 1%;
  height: 20px;
  background-color: #FFD700;
}

.announcement {
  margin-top: 1rem;
  border: 2px solid #FFD700;
  padding: 6px;
}

.announcement p {
  margin-top: 4px;
  margin-bottom: 4px;
}

#announcements-list {
  margin-top: 1rem;
  color: #FFD700;
}

#congrats-text {
  font-weight: bold;
}

.right {
  float: right;
}

#happiness-div {
  width: 275px;
}

#happiness-back {
  width: 100%;
  background-color: gray;
  border-radius: 4px;
}

#happiness-level-text {
  margin-left: 49%;
}

#happiness-bar {
  width: 50%;
  height: 20px;
  background-color: #FFD700;
  border-radius: 4px;
}

#loans-engine, #taxes-engine {
  border: 1px solid #FFD700;
  padding: 4px;
  margin-bottom: 1em;
}

.form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: middle;
}

.small-picker {
  width: auto;
  height: 22px;
  padding: 2px;
  border-radius: 2px;
  margin-bottom: 6px;
}

.btn2 {
  padding: 2px;
  margin: 0;
  vertical-align: 2px;
}

#loan-btn {
  height: 22px;
}

#loans-list {
  width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #FFEA70;
  border-top: 1px solid #FFEA70;
}

th {
  text-align: left;
}

.bottom-margin {
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

/* footer {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
  margin: 1rem;
}

footer a:link {
  color: #FFD700;
  text-decoration: none;
}

footer a:visited {
  color: #e0bf00;
  text-decoration: none;
}

footer a:hover {
  color: #FFEA70;
  text-decoration: underline;
}

footer a:active {
  color: #FFEA70;
  text-decoration: underline;
} */

@media only screen and (max-width: 950px) {
  main { grid-template-columns: 300px 300px;}
}

@media only screen and (max-width: 599px) {
  main { grid-template-columns: 300px; }
}
