@use '../utilities/index' as *;

button {
  margin-bottom: 0.7em;
  padding: 4px;
  @include bordered($lightgold, 2px);
  background-color: $gold;
  color: $black;
  font-family: 'Garamond';
  &:disabled {
    opacity: 0.8;
  }
}

.research-button {
  margin-bottom: 6px;
  display: block;
  @include box(275px, 60px);
  background-color: $gold;
}

#launch-btn {
  margin-bottom: 0;
}

.btn2 {
  margin: 0;
  padding: 2px;
  vertical-align: 2px;
}

#loan-btn {
  height: 22px;
}
