// COLORS -----------------------------------
$darkblue: hsl(244, 88%, 17%);
$gold: hsl(51, 100%, 50%);
$lightgold: hsl(51, 100%, 72%);
$gray: hsl(0, 0%, 50%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$font-stack: ('Garamond', serif);
